html, body{
    width: 100%;
    height:100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
  
body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin: 0%;
}
.logoimg{
    margin-top: 1.5%;
    text-align: center;
}
#logo{
    width: 22%;
}

fieldset{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 39px;
    box-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    text-align: center;
    left: 37%;
    width: 23%;
    height: 70%;
    top: 23%;
}

fieldset2{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 39px;
    box-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    text-align: center;
    left: 37%;
    width: 30%;
    height: 100%;
    top: 23%;
    margin-bottom: 5%;
}

#choiceinput{
    accent-color:  #FFBABA;
}

.section-separation{
    width: 80%;
    display: flex;
    margin: auto;
    border-style: dashed;
    border-width: 1px;
    flex-direction: column;
}  

.boxinput{
    background: #FFE6E6;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

h1{
    margin: 10%;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}

input{
    font-family: 'Quicksand', 'salmonkids';
}
.submitbutt{
    background: #FF8585;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5%;
    margin: 3%;
    font-size: 16px;
}

.registerbutt,.resetbutt{
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
}
.loginbutt{
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
}


  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  .circles{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* Responsive */
@media only screen and (max-width: 1024px){
    fieldset{
        left: 35%;
        width: 30%;
        top: 23%;
    }
    fieldset2{
        left: 22%;
        width: 55%;
        height: 110%;
        top: 23%;
    }
    #logo{
        width: 30%;
    }
}
@media only screen and (max-width: 768px){
    fieldset{
        left: 35%;
        width: 30%;
        top: 23%;
    }
    fieldset2{
        left: 22%;
        width: 55%;
        height: 110%;
        top: 23%;
    }
    #logo{
        width: 30%;
    }
}

@media only screen and (max-width: 500px){
    fieldset{
        left: 25%;
        width: 50%;
        top: 23%;
    }
    fieldset2{
        left: 15%;
        width: 70%;
        height: 110%;
        top: 23%;
    }
    #logo{
        width: 50%;
    }
}